body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  cursor: pointer

#poker-main
  margin-top: 20px

button.points
  margin-right: 15px

form.login
  margin-top: 20px

.stories-section
  margin-bottom: 10px

